body{
    color: darkgray;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    font-style: initial;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    font-style: italic;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    text-align: center;
}
section{
    text-align: center;
}
ul{
    text-align: center;
}
blockquote{
    text-align: center;
}
