background{
    color: #f8f8f8
}
nav{
    display: flex;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;

}
a{
    display: : block;
    padding: 6px;
    background-color:#dddddd;
}
.intro{
    style="border: 10px;"
}